<link rel="stylesheet" href="../stylesheets/components/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

<footer>
    <div class="footer__container">
        <div>
            <h3 class="footer__title">Contact Us</h3>

            <ul class="footer__link">
                <li>
                    <address class="footer__info">
                        2300 W Arbutus <br>
                        Dr Citrus Springs, <br>
                        FL 34434, USA <br>
                        contact@hofmannui.net
                    </address>
                </li>
            </ul>
        </div>

        <div>
            <h3 class="footer__title">About Us</h3>

            <ul class="footer__link">
                <li>
                    <a href="#" class="footer__link">Awards</a>
                </li>

                <li>
                    <a href="#" class="footer__link">FAQs</a>
                </li>
                
                <li>
                    <a href="#" class="footer__link">Privacy policy</a>
                </li>

                <li>
                    <a href="#" class="footer__link">Terms of sevicesy</a>
                </li>
            </ul>
        </div>

        <div>
            <h3 class="footer__title">Company</h3>

            <ul class="footer__link">
                <li>
                    <a href="#" class="footer__link">Blogs</a>
                </li>
                
                <li>
                    <a href="#" class="footer__link">Community</a>
                </li>
                
                <li>
                    <a href="#" class="footer__link">Our team</a>
                </li>

                <li>
                    <a href="#" class="footer__link">Help center</a>
                </li>
            </ul>
        </div>

        <div>
            <h3 class="footer__title">Social</h3>

            <div class="footer__social">
                <a href="#" target="_blank" class="footer__social-link">
                    <i class="ri-facebook-circle-fill"></i>
                </a>

                <a href="#" target="_blank" class="footer__social-link">
                    <i class="ri-instagram-line"></i>
                </a>

                <a href="#" target="_blank" class="footer__social-link">
                    <i class="ri-twitter-x-line"></i>
                </a>
            </div>
        </div>
    </div>

    <center class="footer_copy">
        &copy; All Rights Reserved By NTTUyen
    </center>
</footer>


